<div class="jumbotron">
  <h1 class="display-4">Gossip Team</h1>
  <hr class="my-4">
  <p> That's a secret i'm never tell.</p>
  <img class="img-thumbnail" src="https://www.serieously.com/wp-content/uploads/2018/02/la-verite-sous-nos-yeux.gif" alt="Card image cap">
  </p>
</div>