<div class="jumbotron">
  <h1 class="display-4">Voici notre équipe de choc!</h1>
  <p class="lead">Clément</p>
  <hr class="my-4">
  <p> Apprenti sorcier et déchiffreur de codes. Soyez indulgent avec lui, il est novice</p>
  </p>
</div>