<div class="jumbotron">
  <h1 class="display-4">Gossip Team</h1>
  <hr class="my-4">
  <p> That's a secret i'm never tell.</p>
  <img class="img-thumbnail" src="https://media.virginradio.fr/article-4095579-head-f5/gossip-girl-dan-humphrey-serie.jpg" alt="Card image cap">
  </p>
</div>